.btn{
  display: inline-block;
  padding: 0.5em;
  width:7em;
  margin:0.4em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  font-family:inherit;
  font-size:1em;
}
.btn-banner{
  width:100%;
  margin-bottom:25px;
  text-align:center;
}
.btn-banner-inner{
  display:inline-block;
}